<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink=" / ">
    <img src="../../../assets/img.png" width="30" height="30">
    LCO Github Finder app
  </a>

  <div class="navbar-collapse">
    <div class="navbar-nav ml-auto">
      <div *ngIf="email" class="navbar-text float-left">
        {{email}}
      </div>
      <a routerLink="/" class="nav-item nav-link">Home</a>
      <a routerLink="/signIn" routerLinkActive="active" *ngIf="!email" class="nav-item nav-link">Signin</a>
      <a routerLink="/signUp" routerLinkActive="active" *ngIf="!email" class="nav-item nav-link">SignUp</a>
      <a (click)="handleSignOut()" *ngIf="email" class="nav-item nav-link">Logout</a>
    </div>
  </div>
</nav>
