<div class="container">
  <form class="form-inline mt-4 d-flex justify-content-center" (ngSubmit)="handleFind()">
    <div class="form-group mx-4">
      <label for="userName">User Name</label>
      <input type="text" id="userName" name="userName" class="form-control " [(ngModel)]="userName">
    </div>
    <button class="btn btn-primary ml-4">
      Find User
    </button>
  </form>


  <!-- to render Error -->
  <div *ngIf="error" class="alert alert-danger m-5" role="alert">
    {{error}}
  </div>

  <div *ngIf="user" class="row mt-3 " style="width:90vw; height:90vh">
    <div class="col col-md-4">
      <app-user-card [user]="user"></app-user-card>
    </div>
    <div class="col col-md-8">
      <app-repos [repoUrl]="user.repos_url"></app-repos>
    </div>
  </div>

</div>
